body {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Console', 'Monaco', monospace;
    align-items: center;
    height: 100vh;
}

.outerCalc {
    height: 500px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color:rgb(243, 215, 182);
}

.display {
    flex: 1 1 0;
    background-color: rgb(180, 228, 48);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border-radius: 3px;
    border: 1px solid green;
}
.buttons {
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 10px 0px;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
    display: flex;
    column-gap: 5px;
    flex: 1 1 0;

}
.buttons button {
    flex: 1 1 0;
    box-shadow: 0 9px #999;
    border-radius: 0px;
}

.buttons button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.display, 
.buttons button {
    font-size: 20px;
    font-family: 'Lucida Console', 'Monaco', monospace;
    padding: 10px;
}

.operator.equal {
    background-color: rgb(143, 235, 143);
}
.operator.equal:hover{
    background-color: rgb(104, 172, 104);
}

.clear{
    background-color: rgb(248, 156, 156);
}
.clear:hover {
    background-color: rgb(204, 126, 126);
}

.operator {
    background-color: rgb(159, 207, 240);
}
.operator:hover{
    background-color: rgb(111, 145, 168);

}